Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production
.git
.gitignore
.next
.nyc_output
coverage
.coverage
.jest
**/*.test.js
**/*.test.ts
**/*.test.tsx
.github